* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

    .wrapper {
        width: 100%;
        margin-left: 260px;  /* space for sidebar */
        padding:54px  30px;
    }

    .title {
        font-size: 50px;
        font-weight: 600;
        color: #9b8b7d;
        text-align: center;
        margin-bottom: 60px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 32% auto;
        gap: 25px;
    }

    .card {
        background: #fff;
        padding: 25px;
        border-radius: 12px !important;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        border-left: 6px solid #736559 !important;
        transition: 0.3s;
    }

    .card:hover {
        transform: translateY(-3px);
    }

    label {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    input {
        width: 90%;
        padding: 12px;
        border-radius: 6px;
        margin: 8px 0;
        border: 1px solid #ccc;
        font-size: 15px;
    }

    .error {
        font-size: 12px;
        color: red;
        height: 15px;
    }


    .btn-save {
        background: #9b8b7d;
         padding: 12px 18px !important;
        border-radius: 6px !important;
        border: none !important;
        color: #fff !important;
        cursor: pointer !important;
        font-size: 15px !important;
        margin-right: 10px;
        background: #9b8b7d !important;
    }

    .btn-reset {
        background: #6c757d;
         padding: 12px 18px !important;
        border-radius: 6px !important;
        border: none !important;
        color: #fff !important;
        cursor: pointer !important;
        font-size: 15px !important;
        margin-right: 10px;
        background: #9b8b7d !important;
    }

    .table-card {
        background: #fff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        border-left: 6px solid #736559;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 15px;
    }

    th {
        background: #f0f4ff;
        padding: 12px;
        text-align: left;
        font-weight: 600;
    }

    td {
        padding: 12px;
        border-bottom: 1px solid #eee;
    }

    .btn-sm {
        padding: 6px 12px;
        font-size: 13px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background: red;
        color: #fff;
    }

    .btn-delete {
        background: #d64040;
    }