* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

/* MAIN CONTAINER */
.main {
    width: 90%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
}

/* EACH FORM */
.main form {
    width: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main img
{
	width: 50%;
}

/* FIELDSET */
fieldset {
    border: 2px solid #0c192b;
    padding: 15px;
    border-radius: 8px;
}

legend {
    padding: 5px 10px;
    font-weight: bold;
    color: #0c192b;
    font-size: 17px;
}

/* LABELS */
label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

/* INPUTS & SELECTS */
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #0c192b50;
}

/* BUTTON */
.btn1 {
    margin-top: 18px;
    padding: 12px;
    background-color: #0c192b;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #0c192b;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .main form {
        width: 100%;
    }
}
