* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}


.header
{
    margin: 0;
    text-align: center;
      background-color:#a38f84;
      color:white;
      display:flex;
      align-items:center;
      justify-content:center;
      
}

.header p{
  color: black;
  font-size:12px;
  margin-top:-15px;
  font-weight:600;
  text-align: center;
  margin-left:6%;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-left: 143px;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(91, 107, 255);
  border: 1px solid rgb(91, 107, 255);
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.header img
{
    width:4%;
}
.header h1
{
	padding-top:10px;
    font-size:80px;
    color:white;
    font-family: Baskerville Old Face;
}
.menu
{
	padding-top:5px;
	text-align: center;
	background-color:#bdafa8;
	margin:0;
	align-items:center;
	justify-content: center;
}
.menu a
{
	color:white;
	padding:30px;
  text-decoration: none;
}


.image_slider
{
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.my_slider img
{
  width: 100%;
  height: 800px;

}

figure
{
  position: relative;
  left: 0;
  width: 400%;
  animation: 20s my_slider infinite;
}

.my_slider
{
  width: 25%;
  position: relative;
  float: left;
}

.my_slider h1,p,h2,h3,button
{
  text-align: center;
  margin-top: 50px;
  position:absolute;
  font-size:42px;
}

.my_slider h1{
  margin-top:250px;
  font-size:90px;
  margin-left:60%;
  color:orangered;
  font-family: Castellar;
  font-weight:bold;
  text-shadow: 1px 1px black;
}

.one{
  margin-top:400px;
  font-size:80px;
  margin-left:55%;
  color: orangered;
  font-family: Baskerville Old Face;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.onep
{
   margin-top:495px;
   font-size:40px;
  margin-left:50%;
  font-family: Footlight MT Light;
  text-shadow: 1px 1px black;
}

.two
{
  text-align: center;
  margin-top:300px;
  margin-left:32%;
  font-size:42px;
  font-family: Times New Roman;
}

.twoo
{
  text-align: center;
  margin-top:370px;
  font-size:30px;
  margin-left:32%;
  font-size:52px;
  font-weight: bolder;
  color:darkgreen;
  font-family: Trajan Pro;
}

.twop
{
   text-align: center;
  margin-top:450px;
  margin-left:31%;
  font-size:42px;
}


.threep
{
  margin-top:300px;
  margin-left:10%;
  font-size:80px;
  font-family: Times New Roman;
  color:white;
  font-weight: bolder;
  text-shadow: 3px 3px black;
}

.three
{
  margin-top:450px;
  text-align: center;
  padding:10px 25px;
  margin-left:40%;
  background: green;
  color: white;
}

.four
{
  text-align: center;
  margin-top:180px;
  margin-left:60%;
  font-size:70px;
  font-family: Times New Roman;
  color: darkgreen;;
  font-weight: bolder;
  text-shadow: 2px 2px black;
}

.fourp
{
  text-align: center;
  margin-top:80px;
  margin-left:56%;
  font-size:50px;
  font-family: Times New Roman;
  color: white;
  text-shadow: 1px 1px black;
}



@keyframes my_slider
{
  0% {left: 0%;}

  9% {left: 0%;}

  18% {left: -100%;}

  27% {left: -100%;}

  36% {left: -200%;}

  45% {left: -200%;}

  54% {left: -300%;}

  63% {left: -300%;}

  72% {left: -200%;}

  81% {left: -200%;}

  90% {left: -100%;}

  99% {left: -100%;}

  100% {left: 0%;}
}

.banner_heading h1{
  font-size: 50px;
  margin-top:50px;
  font-weight:normal;
  color:#a38f84;
  font-family:Footlight MT Light;
  margin-left:160px;
}

.new_arrival
{
 margin-bottom: 100px;
}


.new_arrival img
{
  width:100%;
  transition: transform .2s;
  margin-bottom:20px;
}

.new_arrival img:hover
{
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.new_arrival p1
{
  font-size:15px;
  color:#a38f84;
  font-weight: normal;
}

.new_arrival span
{
  color: red;
  font-size:20px;
}

.new_arrival p2
{
  color:#bdafa8;
  padding-left:20px;
  
}

.new_arrival button {
  position: relative;
  margin: 0;
  padding: 6px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  color: #a38f84;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  margin-top:77px;
  margin-left:44%;
}

.new_arrival button span {
  color: #a38f84;
  font-size:16px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.new_arrival button:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.new_arrival button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #917a6e;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


.category
{
  margin-top:20px;
  text-align: center;
  margin-bottom:100px;
}


.category img{
  width:55%;
  margin-top:100px;
  transition: transform .2s;
  border-radius: 62px;
}

.category img:hover
{
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.category_h h1
{
  font-size:66px;
  color:#a38f84;
  font-family:Footlight MT Light;
  text-align: center;
  font-weight:normal;
  margin-top:6%;
}


.image_2
{
  margin-left:50%;
  margin-top:-563px;
}

.image_3
{
  margin-top:141px;
}

.shop_product1 p
{
  margin-top:350px;
  font-size:25px;
  font-weight: normal;
  text-align:left;
  color: #d3cac5;
}

.shop_product1 h2
{
  margin-top:270px ;
  font-size:60px;
  color:#a38f84;
}

.shop_product1 button
{
  margin-top:50%;
}

.shop_product2 p
{
  margin-top:395px;
  font-size:25px;
  font-weight: normal;
  text-align:right;
  margin-left:100px;
  color: #d3cac5;
}

.shop_product2 h2
{
  margin-top:225px ;
  font-size:60px;
  color:#a38f84;
  text-align: right;
  margin-left:318px;
}

.shop_product2 button
{
  margin-top:60%;
}

.shop_product3 p
{
  margin-top:25%;
  font-size:25px;
  font-weight: normal;
  text-align:left;
  color: #d3cac5;
}

.shop_product3 h2
{
  margin-top:20%;
  font-size:60px;
  color:#a38f84;
}

.shop_product3 button
{
  margin-top:70%;
}

.text
{
  padding:0px 8px;
}


.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #a38f84;
  background-image: none;
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#a38f84, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #bdafa8;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
  color: white;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}