* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}


.header
{
    margin: 0;
    text-align: center;
      background-color:#a38f84;
      color:white;
      display:flex;
      align-items:center;
      justify-content:center;
      
}

.header p{
  color: black;
  font-size:12px;
  margin-top:-15px;
  font-weight:600;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-left: 143px;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(91, 107, 255);
  border: 1px solid rgb(91, 107, 255);
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.header img
{
    width:4%;
}
.header h1
{
	padding-top:10px;
    font-size:80px;
    color:white;
}
.menu
{
	padding-top:5px;
	text-align: center;
	background-color:#bdafa8;
	margin:0;
	align-items:center;
	justify-content: center;
}
.menu a
{
	color:white;
	padding:30px;
  text-decoration: none;
}


.image_slider
{
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.my_slider img
{
  width: 100%;
  height: 800px;

}

figure
{
  position: relative;
  left: 0;
  width: 400%;
  animation: 20s my_slider infinite;
}

.my_slider
{
  width: 25%;
  position: relative;
  float: left;
}



@keyframes my_slider
{
  0% {left: 0%;}

  9% {left: 0%;}

  18% {left: -100%;}

  27% {left: -100%;}

  36% {left: -200%;}

  45% {left: -200%;}

  54% {left: -300%;}

  63% {left: -300%;}

  72% {left: -200%;}

  81% {left: -200%;}

  90% {left: -100%;}

  99% {left: -100%;}

  100% {left: 0%;}
}


.second_banner h2
{  
  font-size:40px;
  margin-top:50px;
  font-weight: bold;
  margin-left:200px;
}

.new_arrival
{
   min-height:50vh;
   display: flex;
   align-items: center;
   justify-items: center;
   flex-wrap: wrap;
   padding: 40px 0;
}

.new_arrival .btn
{
    padding: 10px 20px;
  background-color:#7d6656;
  text-align: center;
  align-items: center;
  justify-items: center;
  display: flex;
  margin-left:50%;
  color: white;

}

.new_arrival .btn:hover
{
  background:#bdafa8;
  color:white;
  padding:20px 40px;
}

*
{
  text-transform:capitalize;
  text-decoration: none;
  transition: all .2s linear;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x:hidden;
  background-color: #eee;
}

.card
{
  height: 500px;
  width: 280px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.card img{
  width: 100%;
  height: 80%;
  object-fit: cover;
   overflow: hidden;
  transition: all 0.3s ease;
}

.card .info {

  text-align: center;
  line-height: 25px;
}

.card .info .stars i{
  color: gold;
  padding: 10px 0;
}

.card .info .price
{
  color:#7d6656 ;
  font-size:20px;
  letter-spacing:1px;
}

.card .info h3{
  color: #333;
  padding: 5px;
  margin-top:20px;
}

.card .disconnect
{
  position:absolute;
  top:15px;
  left:15px;
  height: 50px;
  width: 50px;
  display: block;
  background:rgba(255,0,0,0.6);
  color: #fff;
  font-weight: bold;
  border-radius:50%;
  text-align: center;
  line-height:50px;
}

.card .panel
{
  position:absolute;
  top: 50px;
  right:-80px;
  width:45px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.card:hover .panel
{
  right: 15px;
  opacity: 1;
}

.card .panel a
{
  color:#333;
  font-size:20px;
  margin:15px 0;
}

.card .panel a:hover
{
  color: rgba(255,0,0,0.9);
}

.card button
{
  position: absolute;
  left:50%;
  bottom:0%;
  transform: translateX(-50%);
  padding:10px 20px;
  border: none;
  outline: none;
  background: rgba(0,0,0,.6);
  color: #fff;
  font-size: 15px;
  font-weight:600;
  cursor: pointer;
  opacity: 0;
  transition-delay: .2s;
  border-radius:15px;
}

.card:hover button
{
  opacity: 1;
  bottom: 25%;
}

.card button:hover
{
  background: rgba(255,0,0,0.6);
}

.card img:hover
{
    translate: -8px;
}

.banner_heading h1{
  font-size: 50px;
  margin-top:40px;
  font-weight:normal;
  color:#a38f84;
  font-family:Footlight MT Light;
  margin-left:160px;
}
