* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center; 
}

.container{
width:900px;
height:500px;
background:white;
display:flex;
border-radius:12px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
padding-left: none !important;
padding-right: none !important;
}

.left-panel{
width:50%;
background:#071d3c;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
padding:60px;
}

.left-panel h1{
font-size:40px;
margin-bottom:15px;
}

.left-panel p{
font-size:16px;
line-height:1.6;
}

.login-box{
width:50%;
padding:50px;
display:flex;
flex-direction:column;
justify-content:center;
}

.login-box h2{
font-size:32px;
margin-bottom:30px;
color:#071d3c;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box i{
position:absolute;
top:12px;
left:10px;
color:#888;
}

.input-box input{
width:100%;
padding:12px 12px 12px 35px;
border:1px solid #ddd;
border-radius:5px;
font-size:14px;
}

.options{
font-size:14px;
margin-bottom:20px;
margin-top:10px;
}

.options a{
text-decoration:none;
color:#071d3c;
text-align: center;
}

.login-btn{
width:100%;
padding:12px;
background:#071d3c;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
transition:0.3s;
}

.login-btn:hover{
background:#163a6b;
}

.register{
margin-top:-30px;
font-size:14px;
margin-bottom: 30px;
}

.register a{
color:#1f4c8c;
text-decoration:none;
font-weight:bold;
}
