* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}    
    
    
    
    :root{
      --brown:#6f584c;
      --light-brown:#e9e6e6;
      --accent:#b38f80;
      --muted:#f7f7f9;
    }

     body {
        margin: 0;
        font-family: "Poppins", sans-serif !important;
        background: linear-gradient(135deg, #dee8ff, #ffffff);

    }

    /* Sidebar */
    .sidebar{
      background: #0c192b;
      color: #fff;
      min-height: 100vh;
      padding: 1.5rem 0.5rem;
      position: absolute;
      width: 240px;
    }
    .sidebar h2{
      font-size: 1.05rem;
      margin-bottom: 6.2rem;
      text-align:center;
      line-height:1.1;
    }
    .sidebar .nav-link{
      color: #fff;
      padding: .6rem .8rem;
      border-radius: .35rem;
      display:flex;
      gap:.6rem;
      align-items:center;
    }
    .sidebar .nav-link img{ width:22px; height:22px; object-fit:cover; }

    .sidebar a {
        display: flex;
        padding: 20px 20px;
        color: #e6e6e6;
        text-decoration: none;
        font-size: 16px;
        transition: 0.3s;
        gap: 20px;
    }

    .sidebar a:hover {
        background: #071d3c;
        color: #fff;
        padding-left: 28px;
    }

    .sidebar img
    {
      width:15%;
      border-radius:20px;
    }

    s
  {
    color: red;
    text-decoration: none;
  }

    /* Main content */
    .container-main{
      padding: 1.2rem 2rem;
    }

    /* Left panel (form) box */
    .panel-card{
      background: #fff;
        padding: 25px;
        border-radius: 12px !important;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        border-left: 6px solid #0c192b !important;
        transition: 0.3s;
    }

main h1
{
    font-size: 50px;
        font-weight: 600;
        color: #0c192b;
        text-align: center;
        margin-bottom: 33px;
        margin-top: 50px;
        font-family:Georgia, 'Times New Roman', Times, serif;
}

    label
    {
        font-size: 12px;
    }

    .small_error
    {
      color: red;
      font-size: 12px;
    }

    .btn-brown{
      background:#0c192b !important;
      color:#fff !important;
      border:0;
    }

    .btn.secondary
    {
     background: #eef2ff;
    color:#0c192b;
    border: 1px solid rgba(37, 99, 235, 0.08);

    }
    .btn-brown:active, .btn-brown:focus{ outline: none; box-shadow:none; }

    /* small screens */
    @media (max-width:991px){
      .sidebar{ display:none; }
      .container-main{ padding:1rem; }
    }